// Variables

//GRIDS

$grid-width: 100vw;

// COLORS

$color-white: #fff;
$color-black: #000;

$color-primary: #9A7;
$color-primary-light: #B0BD96;
$color-primary-dark: #647347;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f6f6f6; // section-about

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-navigation-button: #9A7;
$color-navigation-button-shadow: #65f8ff;

$color-white: #fff;
$color-black: #000;

// Fonts

$font-family-main: 'Kaushan Script'; 
$font-family-text: 'Merriweather';

$font-size-default: 1.7rem;
$line-height-default: 1.7;

$font-size-title: 2.4rem;
$font-size-small: 1.5rem;



