.section__separing {
    max-width: 100%;
    padding: 15vh;
    height: 10rem;
    background-color: $color-grey-dark-2; 
    background-image: url("../img/sprout.svg");
    background-repeat: no-repeat;
    background-position: center;
}