.heading-primary {
    font-family: 'Kaushan Script', Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    color: $color-grey-dark-1;
    text-transform: uppercase;

    &--left {
      & > *{
         display: block;
      }
    }
    &--section {
       margin: 4rem 0;
    }
 }

 .heading-secondary {
    font-family: 'Merriweather', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    text-transform: uppercase;

    &--right {
      padding: 20rem 10rem;
      color: $color-white;
      border: 1rem solid $color-white;
      letter-spacing: 1.5rem;
      text-shadow: 0 2px 2px rgba($color-black, .9);
    }
 }

 .heading-tertiary {
   font-family: $font-family-text;
   font-size: 3rem;
   margin-bottom: 2rem;

   &--decoration {
      display: block;
      width: 44rem;
      height: 6rem;
      margin: 0 auto;
   }
 }

 .paragraph {
   @include push--auto;
   margin-bottom: 2rem;
   width: 75%;
   text-align: justify;
   font-family: $font-family-text;
   font-size: $font-size-default;
   line-height: $line-height-default
 }